hr {
    border: 1px solid black;
}

.containerCartView {
    margin-left: 40px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cartViewImgFlex {
    display: flex;
    flex-direction: row;
}

.cartViewImg {
    height: 200px;
    margin-left: 200px;
    margin-top: 40px;
    border-radius: 10px;
}

.containerCartViewButton {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}